{% extends "homefood/prof_base.html" %}
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-dark">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"> Krutr </a>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Messages</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="glyphicon glyphicon-user"></span> {{ user.get_full_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block profile_content %}


            <div class="profile-card-view">
                <div class="profile-card-header">
                    <h3> Schedule a Mock </h3>
                </div>

                <form id="scheduler" action="{% url 'homefood:appointment' %}" method="post">
                    {% csrf_token %}
                    <div class="row profile-card-steps">
                        <div class="col-sm-4 profile-card-step">
                            <p> Select a date </p>
                            <input id="scheduleDate" name="scheduleDate" type="hidden"/>
                            <div id="calendar">
                            </div>
                        </div>
                        <div class="col-sm-4 profile-card-step">
                            <p> Choose an available slot </p>
                            <input id="scheduleTime" name="scheduleTime" type="hidden"/>
                            <div id="availability">
                                <p class="unavailable-text" id="unavailableText">No available slots for the date selected</p>
                            </div>
                        </div>
                        <div class="col-sm-4 profile-card-step">
                            <p> Select interview topic </p>
                            <select class="form-control form-control-sm" id="scheduleTopicId" name="scheduleTopic">
                                <option value="java">Java</option>
                                <option value="python">Python</option>
                                <option value="algorithms">Algorithms</option>
                                <option value="datastructures">Datastructures</option>
                                <option value="design">Design</option>
                                <option value="testing">Testing</option>
                            </select>
                        </div>
                    </div>

                    <div class="row schedule-button-wrapper">
                        <button class="btn btn-lg btn-default" type="submit" id="scheduleMockInterview"> Schedule Mock Interview</button>
                    </div>
                </form>
            </div>

            <div class="profile-card-view">
                <div class="profile-card-header">
                    <h3> Progress </h3>
                </div>
                <div class="row profile-card-steps">
                    <div class="goal-view">
                    </div>
                </div>
            </div>

{% endblock %}
