{% extends "homefood/interview_base.html" %}
{% block title %}
    <title>Valley Coaching - Online Coaching for professionals - Home</title>
{% endblock %}
{% block navbar %}
              <nav>
                <ul class="nav masthead-nav">
                    <li><a href="{% url 'homefood:index' %}">Home</a></li>
                    <li><a href="{% url 'homefood:syllabus' %}">Syllabus</a></li>
                    <li><a href="{% url 'homefood:about' %}">About</a></li>
                </ul>
              </nav>
{% endblock %}
{% block body %}
          <div class="inner cover">
            <h1 class="cover-heading" style="color:#86c232;">Success!</h1>
            <p class="lead">You've successfully scheduled a mock interview! Please check your email for details</p>
            <p class="lead">
                Return to <a href="{% url 'homefood:schedule' %}" style="color:#86c232;">scheduling mocks</a>
            </p>
          </div>
{% endblock %}