{% extends "homefood/interview_base.html" %}
{% block body %}
          <div class="inner cover1" style="overflow:scroll;">
                  <h1 class="cover-heading">Syllabus</h1>
                  <table class="table table-dark">
                      <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr bgcolor="#696969">

                          <th scope="row">Week 1</th>
                            <td scope="row">
                                  <button type="button" class="btn btn-link"  data-toggle="collapse" data-target="#demo1">Introduction to the course [+]</button>
                                  <div id="demo1" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>
                            </td>


                        </tr>
                        <tr bgcolor>
                          <th scope="row">Week 2</th>
                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo2">Arrays [+]</button>
                                  <div id="demo2" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor="#696969">
                          <th scope="row">Week 3</th>

                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo3">Linked Lists [+]</button>
                                  <div id="demo3" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor>
                          <th scope="row">Week 4</th>

                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo4">Trees [+]</button>
                                  <div id="demo4" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor="#696969">
                          <th scope="row">Week 5</th>

                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo5"> Graphs [+]</button>
                                  <div id="demo5" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>
                          </td>
                        </tr>
                      <tr bgcolor>
                          <th scope="row">Week 6</th>
                          <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo6">Dynamic Programming [+]</button>
                                  <div id="demo6" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor="#696969">
                          <th scope="row">Week 7</th>
                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo7">Mocks & Design [+]</button>
                                  <div id="demo7" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor>
                          <th scope="row">Week 8</th>
                            <td scope="row">
                                  <a class="btn btn-link" data-toggle="collapse" data-target="#demo8" class="btn btn-lg btn-default-blue">Mocks & Design [+]</a>
                                  <div id="demo8" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </div>

                          </td>
                        </tr>
                      </tbody>
                    </table>
            <p class="lead">
              <a href="{% url 'homefood:enroll' %}" class="btn btn-lg btn-default">Enroll now</a>
            </p>
          </div>
{% endblock %}