{% extends "homefood/interview_base.html" %}
{% block title %}
    <title>Valley Coaching - Online Coaching for professionals - Syllabus </title>
{% endblock %}
{% block navbar %}
              <nav>
                <ul class="nav masthead-nav">
                    <li><a href="{% url 'homefood:index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'homefood:syllabus' %}">Syllabus</a></li>
                    <li><a href="{% url 'homefood:about' %}">About</a></li>
                </ul>
              </nav>
{% endblock %}

{% block body %}
          <div class="inner cover1" style="overflow:scroll;">
                  <h1 class="cover-heading">Syllabus</h1>
                  <table class="table table-dark">
                      <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr bgcolor="#696969">

                          <th scope="row">Week 1</th>
                            <td scope="row">
                                  <button type="button" class="btn btn-link"  data-toggle="collapse" data-target="#demo1">Introduction to the course [+]</button>
                                  <div id="demo1" class="collapse">
                                      </br>
                                      <p><b>Introduction to Java and Coding</p>
                                      <p>Basics of Algorithms and Data Structures</p>
                                      <p>Order Complexity</b></p>
                                </div>
                            </td>


                        </tr>
                        <tr bgcolor>
                          <th scope="row">Week 2</th>
                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo2">Arrays [+]</button>
                                  <div id="demo2" class="collapse">
                                      </br>
                                      <p><b>Basics of Arrays</b></p>
                                      <p><b>Sorting & Searching</b></p>
                                      <p><b>Array Interview Problems & Test</b></p>
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor="#696969">
                          <th scope="row">Week 3</th>

                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo3">Linked Lists [+]</button>
                                  <div id="demo3" class="collapse">
                                      </br>
                                      <p><b>Basics of LinkedLists</b></p>
                                      <p><b>LinkedList Interview Problems</b></p>
                                      <p><b>Advanced LinkedList Problems & Test</b></p>

                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor>
                          <th scope="row">Week 4</th>

                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo4">Trees [+]</button>
                                  <div id="demo4" class="collapse">
                                      </br>
                                     <p><b>Introduction to Trees</b> - Traversals, Binary Trees, Binary Search Trees </p>
                                      <p><b>Tree Interview Problems</b></p>
                                     <p> <b>Advanced Tree Problems & Test</b></p>
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor="#696969">
                          <th scope="row">Week 5</th>

                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo5"> Graphs [+]</button>
                                  <div id="demo5" class="collapse">
                                      </br>
                                      <p><b>Introduction to Graphs</b> - BFS, DFS, Shortest Path </p>
                                      <p><b>Graph Interview Problems</b></p>
                                      <p><b>Avandced Graph Problems & Test</b></p>
                                  </div>
                          </td>
                        </tr>
                      <tr bgcolor>
                          <th scope="row">Week 6</th>
                          <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo6">Dynamic Programming [+]</button>
                                  <div id="demo6" class="collapse">
                                      </br>
                                      <p><b>Introduction to Dynamic Programming</b></p>
                                      <p><b>Identifiction of Dynamic Programming Problems</b></p>
                                      <p><b>Dynamic Programming Interview Problems & Test</b></p>

                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor="#696969">
                          <th scope="row">Week 7</th>
                            <td scope="row">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo7">Mocks & Design [+]</button>
                                  <div id="demo7" class="collapse">
                                      </br>
                                      <p><b>System Design</b></p>
                                      <p><b>Design Interview Questions</b></p>
                                      <p><b>Mock Interviews</b></p>
                                  </div>
                          </td>
                        </tr>
                        <tr bgcolor>
                          <th scope="row">Week 8</th>
                            <td scope="row">
                                  <a class="btn btn-link" data-toggle="collapse" data-target="#demo8" class="btn btn-lg btn-default-blue">Mocks & Design [+]</a>
                                  <div id="demo8" class="collapse">
                                      </br>
                                      <p><b>Mock Interviews</b></p>
                                  </div>

                          </td>
                        </tr>
                      </tbody>
                    </table>
            <p class="lead">
              <a href="{% url 'homefood:enroll' %}" class="btn btn-lg btn-default">Enroll now</a>
            </p>
          </div>
{% endblock %}